/* Variables */

:root {
  /* Primary */
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* Neutral */

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

/* Font */
@font-face {
  font-family: "Kumbh Sans";
  src: url("./assets/fonts/KumbhSans-VariableFont_YOPQ,wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: min(100% - 2rem, 375px);
  margin: 0 auto;
}

.navigation,
.navigation__links,
.navigation__menus,
.navigation__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  position: relative;
  margin: 0.2rem 0;
}

/* Button and Logo */
.navigation__menu {
  cursor: pointer;
  border: none;
  padding: 0 0.5rem;
  background-color: transparent;
}

.navigation__menu-open {
  margin: 1rem 0.5rem 1rem 1rem;
}

.navigation__menu-close {
  margin: 2rem 0.5rem 2rem 1rem;
}

.navigation__links-wrap {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: -1rem;
  width: 0%;
  background-color: var(--white);
  height: 100vh;
  overflow: hidden;
}

.navigation__links-wrap--open {
  width: 75%;
  transition: width 0.2s ease-in;
}

.navigation__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  z-index: 999;
}

.navigation__overlay--active {
  opacity: 1;
  pointer-events: all;
}

.navigation__link {
  list-style-type: none;
  font-weight: 700;
  margin: 0.1rem 1rem;
}

.navigation__link-anchor {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-weight: 400;
  display: block;
  padding: 0.65rem;
}

.navigation__link-anchor:hover {
  color: var(--orange);
}

/* Cart and PFP */
.navigation__cta {
  margin-right: 1.55rem;
}

.navigation__cta-cart {
  padding: 1.25rem;
  position: relative;
}

.cart-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 0.5rem;
  font-weight: 700;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  display: none;
}

.navigation__cta-pfp {
  img {
    max-width: 25px;
  }
}

/* Galery */

.gallery {
  position: relative;
}

.gallery__list {
  display: none;
}

.gallery__prev,
.gallery__next {
  cursor: pointer;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 1rem;

  img {
    width: 10px;
  }
}

.gallery__next {
  right: 0;
}

.gallery__main {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

/* Content / Product Description */

.content {
  padding: 1.25rem 1.5rem;
}

.content__brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.5rem 0;
  color: var(--dark-grayish-blue);
}

.content__title {
  font-size: 1.65rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

.content__desc {
  padding: 1rem 0;
  font-size: 0.95rem;
  line-height: 1.55rem;
  color: var(--dark-grayish-blue);
}

.content__prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__curr {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}

.content__reduce {
  color: var(--white);
  background-color: var(--very-dark-blue);
  font-size: 0.85rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.content__og {
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

/* Content Buttons */

.content__btns,
.content__btns-controller {
  display: flex;
  align-items: center;
}

.content__btns-controller {
  margin: 1rem 0;
  border-radius: 1.25rem;
  width: 100%;
  justify-content: space-between;
  background-color: var(--light-grayish-blue);
}

.content__btn {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: var(--orange);
  background-color: var(--light-grayish-blue);
  font-weight: 700;
  cursor: pointer;
  border-radius: 1rem;
}

.content__qty {
  font-weight: 700;
}

/* Add to Cart */

.content__btns {
  flex-direction: column;
  width: 100%;
}

.content__cart-wrap {
  width: 100%;
}

.content__btn-cart {
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: var(--orange);
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation Cart */

.navigation__cart {
  display: none;
  box-shadow: 1px 3px 24px 6px rgba(0, 0, 0, 0.28);
  z-index: 9999;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 30%);
  width: 95%;
  min-height: 245px;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
}

.navigation__cart-title {
  border-bottom: 1px solid var(--dark-grayish-blue);
  padding: 0.5rem 0 1rem 0;
}

.cart-title {
  font-weight: 700;
  margin: 0;
}

.navigation__cart-product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 168px;
}

.cart__product {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  img {
    width: 20%;
    padding: 0.5rem;
    border-radius: 1rem;
  }
}

.cart__total {
  font-weight: 700;
}

.cart__delete {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
  background: url(./assets/images/icon-delete.svg) no-repeat;
}

.cart__empty {
  font-weight: 700;
  color: var(--dark-grayish-blue);
  display: none;
}

/* Modal Gallery */

.modal {
  display: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
  z-index: 999;
}

.modal__overlay--active {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 920px) {
  .container {
    width: min(100% - 2rem, 1110px);
  }

  /* Navigation links */

  .navigation {
    position: relative;
    margin: 1rem 0;
    padding: 0rem;
    border-bottom: 1px solid var(--grayish-blue);
  }

  .navigation__menu-open,
  .navigation__menu-close {
    display: none;
  }

  .navigation__links-wrap {
    position: relative;
    display: flex;
    z-index: auto;
    width: auto;
    height: auto;
    margin-left: 3.5rem;
  }

  .navigation__link {
    list-style-type: none;
    font-weight: 100;
    margin: 0;
  }

  .navigation__link-anchor {
    margin: 0 0.2rem;
    padding: 1.5rem 0.7rem;
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }

  .navigation__link-anchor:hover {
    border-bottom-color: var(--orange);
    color: var(--black);
  }

  /* Cart and PFP */
  .navigation__cta {
    margin-right: 0rem;
  }

  .navigation__cta-cart {
    margin: 0 2.75rem;
    padding: 0 0rem;
  }

  .navigation__cta-pfp {
    img {
      max-width: 50px;
    }
  }

  /* Gallery */

  .product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6rem 3rem;
    gap: 7.5rem;
  }

  .gallery {
    flex: 1;
    position: relative;
  }

  .gallery__main {
    border-radius: 1rem;
    max-height: none;
    object-fit: contain;
    cursor: pointer;
  }

  .gallery__list {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    gap: 1rem;
  }

  .gallery__mini {
    width: 100px;
    border-radius: 0.75rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }

  .gallery__mini:hover {
    opacity: 1;
    outline: 2px solid var(--orange);
  }

  .gallery__prev,
  .gallery__next {
    display: none;
  }

  .content {
    flex: 1;
    padding: 0;
    margin: auto 0rem;
  }

  .content__brand {
    font-size: 0.85rem;
    padding: 0;
  }

  .content__title {
    font-size: 2.75rem;
    line-height: 3rem;
    margin: 0.75rem 0 2rem 0;
  }

  .content__desc {
    font-size: 1rem;
    padding: 0.75rem 0;
    margin-top: 1.75rem;
  }

  .content__prices {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .content__curr {
    font-size: 2rem;
    gap: 1rem;
  }

  .content__og {
    font-size: 1rem;
  }

  .content__btns {
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
  }

  .content__btns-controller {
    flex: 0 0 40%;
    border-radius: 2rem;
  }

  .content__cart-wrap {
    flex: 1;
  }

  .content__btn-cart {
    font-size: 1rem;
    padding: 1rem;
  }

  .modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: transparent;
    padding: 1rem;
    border-radius: 1rem;
  }

  .modal__content {
    max-width: 500px;
    border-radius: 1rem;
  }

  .modal__close,
  .modal__prev,
  .modal__next {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
  }

  .modal__close {
    top: 0%;
    right: 0%;
    padding: 1.25rem 1.25rem;
    background-color: var(--white);
    border-radius: 50%;
  }

  .modal__prev {
    top: 50%;
    left: -15px;
    background-color: var(--white);
    padding: 1rem 1.25rem;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  .modal__next {
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    background-color: var(--white);
    padding: 1rem 1.25rem;
    border-radius: 50%;
  }

  /* Navigation Cart */

  .navigation__cart {
    transform: translate(50%, 30%);
    width: 375px;
  }

  .cart-badge {
    top: -10px;
    right: -10px;
  }
}
